.footer {
    background-color: $black;
    padding: 40px 0 30px;
    color: $white;
        @media(max-width: 775px){
            padding: 35px 0 25px;
        }
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 27px;
        @media(max-width: 775px){
            row-gap: 20px;
        }
    }

    .social {
        display: flex;
        column-gap: 30px;
        align-items: center;
        @media(max-width: 775px){
            column-gap: 20;
        }
    }

    .social__item {
        & img {
            width: 38px;
            @media(max-width: 775px){
                width: 28px;
            }
        }
    }

    .social__item-link {
        transition: .4s ease-in;

        @media(hover: hover) {
           &:hover{
            transition: .4s ease-in;
            opacity: .7;
           }
        }
    }

    .copyright {
        font-size: 16px;
    }
}